{% extends 'app/base.html' %}
{%block content%}




<div class="container">
        <br>
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Medicine equivalent to patient</h4>
                    <a href="{% url 'patientList' %}"><button class='btn btn-outline-primary btn-fw'>Patient list</button></a>   
                    {% for message in messages %}
                    <div class = "alert alert-primary alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                    </div>
                    {% endfor %}
                    <p class="card-description">
                      Basic form elements

                    </p>
                    <form method='POST' class="forms-sample" >
                        {% csrf_token %}
                        
                      
                        <div class="form-group">
                            
                            <div class="form-group">
                              <label for="gender">Concluding Diseases observed</label>
                              <textarea  class="form-control" name="actualDiseases" >{{ s.actualDiseases }}</textarea>
                            </div>

                            <div class="form-group">
                              <label for="gender">Other recomendation</label>
                              <textarea class="form-control" name="otherRecomendation" >{{ s.otherRecomendation }}</textarea>
                            </div>
                            
                            
                            
                        </div>
                      
                      
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      
                    </form>
                    <a href="{% url 'patientDetail' id=s.id %}">
                      <button class="btn btn-light">Cancel</button>
                  </a>
                </div>
            </div>
        </div>
</div>      

{%endblock%}