{% extends 'app/base.html' %}
{%block content%}
{% load i18n %}

<div class="container">
    <!-- ======= Appointment Section ======= -->
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <br>
          <div class="card-body">
            
          <div class="section-title">
            <button class='btn btn-primary'>{% trans "Your previous details" %}</button>
            <h2>{% trans "Provide accurate disease information" %}</h2>
            </div>
  
          <form method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-4 form-group">
                <input type="text" name="mtaa" class="form-control" placeholder="{% trans 'Current street' %}" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                <div class="validate"></div>
              </div>
              <div class="col-md-4 form-group mt-3 mt-md-0">
                <input type="text" class="form-control" name="kata" placeholder="{% trans 'ward' %}" data-rule="email" data-msg="Please enter a valid email">
                <div class="validate"></div>
              </div>
              <div class="col-md-4 form-group mt-3 mt-md-0">
                <input type="text" class="form-control" name="wilaya" placeholder="{% trans 'district' %}" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                <div class="validate"></div>
              </div>
            </div>
            
  
            <div class="form-group mt-3">
              <textarea class="form-control" name="maelezo" rows="5" placeholder="{% trans 'Write down the problem youre facing' %}"></textarea>
              <div class="validate"></div>
            </div>
            <div class="text-center"><button type="submit" class="btn btn-primary">{% trans "Report now" %}</button></div>
          </form>
  
        </div>
        </div>
      </section><!-- End Appointment Section -->
</div>
{%endblock%}